<ion-view view-title="Edit Profile">
  <ion-nav-title>
    <!--    <span style="font-family:Tumbly,Poiret One,Dosis,Roboto,verdana;">
      lupo
    </span> -->
    <img src="/img/thinlupo.jpg" alt="" class="" style="height:25px;width:auto;vertical-align:middle">
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="platform in platforms" type="item-text-wrap" ng-href="#/tab/edit-profile/{{platform.id}}">
        <img ng-src="{{platform.face}}">
        <h2>{{platform.name}}</h2>
        <p>{{platform.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(platform)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
