<ion-view view-title="View Profile" >
	<ion-nav-title>
		<span style="font-family:Tumbly,verdana;">
			lupo
		</span>
	</ion-nav-title>

	<!-- Name and Avatar Subheader -->
	<div class="bar bar-subheader bar-subheader-large" style="height:auto" >
		<h1 class="title" style="font-family:Tumbly">Jack Ma</h1><br>
		<img src="http://www.adweek.com/files/imagecache/node-detail/news_article/jack-ma-01-2014.jpg" alt="" style="margin:22px auto 10px auto;position:relative;height:100px;display:block;border-radius:50%;">
	</div>

  <ion-content class="padding has-header has-subheader has-subheader-large" >
  	<ion-list type="list-inset">

  		<ion-item class="item-avatar item-icon-right"  ng-repeat="platform in platforms | filter: query" type="item-text-wrap" ng-href="#/tab/view-profile/{{platform.id}}"  on-hold="onHold(platform)">
        <img ng-src="{{platform.face}}">
        <h2>{{platform.name}}</h2>
        <p>{{platform.lastText}}</p>
				<!--         <i class="icon ion-chevron-right icon-accessory"></i> -->        
 				
 				<span class="badge badge-calm">{{platform.code}}</span>

   			<!--      <ion-option-button class="button-assertive" ng-click="remove(platform)">
          Delete
        </ion-option-button> -->
      </ion-item>
 		</ion-list>
  </ion-content>
</ion-view>
