/* Empty. Add your own CSS if you like */

.has-subheader-large {
  top: 208px; }

.has-header.has-subheader-large.has-tabs-top {
  top: 257px; }

.nav-title {
	font-family: Tumbly;
}

.item p {
	margin-top:6px;
}

.item .badge {
	font-weight:normal;
}

a  {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
	color: inherit;
}

.popup .popup-body {
    overflow: hidden !important;
}

.no-margin {
	margin: 0 0 0 0;
}