/* Empty. Add your own CSS if you like */

div.bar-subheader {
  /*height:auto;*/
  top:38px;
}

div.has-subheader-large {
 /* top: 270px; //removed because of shrinking header - moved to empty ion-item*/
 height: 220px;
 bottom: 0px;
}

img.profile-photo {
  margin: 10px auto 10px auto;
  display: block;  /*centers along with margin: auto*/
  position: relative;
  height: 100px;
  border-radius: 50%;"
}

div.bar-subheader-3 {
  top:50px !important;
  padding-top: 0px !important;
  background-color: #ffffff !important;
  height:auto !important;
}


ion-content.has-header.has-subheader-large {
  /*top: 319px; */
  bottom: 0;
}

.nav-title {
	font-family: Tumbly, Lato, Poiret One, Roboto;
  font-weight: 100;
}

.item p {
	margin-top:6px;
}

.item .badge {
	font-weight:normal;
}

a  {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
	color: inherit;
}

.popup .popup-body {
    overflow: hidden !important;
}

.no-margin {
	margin: 0 0 0 0;
}

.center {
	text-align: center;
}



.tabs-striped {
	color: #F0F0F0;
}

.calm-lighten
{
	backgroud-color:#A6D5FA;
}

.stats-label {
	font-weight: bold;
	font-size: 9pt;
}

.radio-bar {
	display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 40%!important;
  width: 100%; 
  margin:0!important;
  padding:0!important;}

  .radio-bar.radio-bar-inline {
    display: block;
    width: auto;
    *zoom: 1; }
    .radio-bar.radio-bar-inline:before, .radio-bar.radio-bar-inline:after {
      display: table;
      content: "";
      line-height: 0; }
    .radio-bar.radio-bar-inline:after {
      clear: both; }
    .radio-bar.radio-bar-inline > .item-radio {
      width: auto;
      display: inline-block;
      float: left; }

.radio-bar > .item-radio {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 0!important;
  display: block;
  overflow: hidden;

  border-width: 0px 0px 0px 0px;

  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .radio-bar > .item-radio.item-radio-left{
  	  border-radius: 0% 0% 0 0%!important;
  }
  .radio-bar > .item-radio.item-radio-middle{
  	  border-radius: 0% 0% 0 0%!important;
      border-left-width: 1px;
      border-right-width: 1px;
  }
  .radio-bar > .item-radio.item-radio-right{
  	  border-radius: 0% 0% 0% 0%!important;
      border-left-width: 1px;

  }
  .radio-bar > .item-radio:before, .radio-bar > .item-radio .icon:before {
    line-height: 20px; }
  .radio-bar > .item-radio:first-child {
    border-radius: 2px 0px 0px 2px; }
  .radio-bar > .item-radio:last-child {

    border-radius: 0px 2px 2px 0px; }
}

.item-radio .item-content {
  /* give some room to the right for the checkmark icon */
  position: relative;
  z-index: 2;
  padding: 0;
  border: none;
  background-color: white; 
}


.item-large {
	font-size: 20px !important;
}

.item-small {
	font-size: 10px !important;
}



.card {
	padding-bottom: 5px!important;
	margin-bottom: 5px!important;
	padding-top: 5px!important;
	margin-top: 5px!important;

}

.item-background-grey {
/*	background-color: #616161!important;*/
	background-color: #424242!important;
}

.whole-container {
	max-width: 800px!important;
	display:block!important;
	margin:auto!important;
}

.twitter {
  background-color: #55acee !important;
  color: #fff !important;
}

.linkedin {
  background-color: #0077b5 !important;
  color: #fff !important;
}