/* Empty. Add your own CSS if you like */

.has-subheader-large {
  top: 198px; }

.has-header.has-subheader-large.has-tabs-top {
  top: 247px; }

.nav-title {
	font-family: Tumbly;
}

.item p {
	margin-top:6px;
}

.item .badge {
	font-weight:normal;
}